### symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

### app
/storage/
/.coverage/
*Exxample*/
*Exxample*.php
Makefile

### squizlabs/php_codesniffer
/.phpcs-cache

### lexik/jwt-authentication-bundle
/config/jwt/*.pem

### symfony/phpunit-bridge
.phpunit.result.cache
/phpunit.xml

### phpunit/phpunit
/phpunit.xml
.phpunit.result.cache
