parameters:
    level: 9
    paths:
        - src/
        - tests/
    excludePaths:
        - ./src/**/Exxample*.php
        - ./tests/**/Exxample*.php
    ignoreErrors:
        - '#Cannot cast mixed to (int|float|string|bool)#'
        - "#Strict comparison using === between mixed and '' will always evaluate to false#"
        -
            message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read#'
            path: ./src/App/Domain/Entity/
        -
            message: '#Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert::assertCount\(\) expects Countable\|iterable, mixed given.#'
            path: ./tests/
    reportUnmatchedIgnoredErrors: false
